.players {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.player {
  text-align: center;
}

.playerFaded {
  color: #999;
}

.checkSvg {
  color: #999;
  height: 1.6rem;
  width: 1.6rem;
}

.holdToReveal {
  color: #999;
}

.playerSlideUp {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 80%;
  overflow-y: auto;
  padding: 1rem;
  border-top: 1px solid #ddd;
  transform: translateY(100%);
  transition: transform 0.2s;
}

.playerSlideUpShown {
  transform: translateY(0);
}
