.main {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.title {
  margin: 1rem 0;
}

.roles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 0 0.5rem;
  margin: 0 -0.5rem;
  padding-bottom: 1rem;

  @media (min-width: 360px) {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  @media (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

.role {
  text-align: center;
  margin-bottom: 1rem;
}

.cardContent {
  background-color: #fdfdfd;
  min-height: 100%;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.roleName {
  color: #1976D2;
  letter-spacing: -0.3px;
}

.roleNameEvil {
  color: #D32F2F;
}

.ability {
  font-size: 0.9em;
}

.winCons {
  padding-bottom: 1rem;
}

.goodWinCon {
  color: #1976D2;
}

.evilWinCon {
  color: #D32F2F;
}

.hint {
  color: #666;
  font-size: 0.9em;
}

.playerHint {
  margin-bottom: 1.5rem;
}

.players {
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem;
}

.player {
  text-align: center;
  cursor: pointer;
}

.playerFaded {
  color: #999;
}

.checkSvg {
  color: #999;
  height: 1.2rem;
  width: 1.2rem;
}

.holdToReveal {
  color: #999;
}

.playerSlideUpOverlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.playerSlideUpOverlayShown {
  display: block;
}

.playerSlideUp {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 80%;
  overflow-y: auto;
  padding: 1.5rem 1rem 2rem 1rem;
  border-top: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transform: translateY(100%);
  transition: transform 0.2s;
}

.playerSlideUpInner {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.playerSlideUpShown {
  transform: translateY(0);
}

.playerRoleName {
  font-weight: 500;
  font-size: 1.1em;
}

.playerInfo {
  padding: 5px 0 10px 0;
  white-space: pre-wrap;
}
