.container {
  padding: 1rem;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.randomizeBtn {
  margin-bottom: 2rem;
}

.roles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0 1rem;
  margin-bottom: 2rem;
}

.role {
  text-align: center;
  cursor: pointer;
  margin-bottom: 1rem;
}

.cardContent {
  background-color: #fdfdfd;
  transition: background-color 0.2s;
  min-height: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.nameWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.strength {
  flex-shrink: 0;
  margin-left: 8px;
  font-size: 0.9em;
  color: #666;
}

.name {
  flex-shrink: 1;
  color: #1976D2;
  transition: color 0.2s;
  margin: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.ability {
  font-size: 0.9em;
}

.evil .name {
  color: #D32F2F;
}

.role.selected {
  .cardContent {
    background-color: #64B5F6;
  }

  &.evil .cardContent {
    background-color: #EF5350;
  }

  .strength {
    color: #333;
  }

  .name {
    color: #000;
  }
}
