.container {
  padding: 1rem;
}

.randomizeBtn {
  margin-bottom: 2rem;
}

.roles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.role {
  text-align: center;
  cursor: pointer;
}

.cardContent {
  background-color: #fcfcfc;
  transition: background-color 0.2s;
  min-height: 100%;
}

.name {
  color: #1976D2;
  transition: color 0.2s;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    font-weight: 400;
    font-size: 0.9em;
  }
}

.evil .name {
  color: #D32F2F;
}

.role.selected {
  .cardContent {
    background-color: #64B5F6;
  }

  &.evil .cardContent {
    background-color: #EF5350;
  }

  .name {
    color: #000;
  }
}
