.padding {
  height: 8rem;
}

.container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-top: 0.5px solid #ddd;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.inner {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem 1.5rem 1rem;
}
