.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.right {
  display: inline;
  align-items: center;
}
