.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

  h1 {
    margin-bottom: 0;
  }
}

.right {
  display: inline;
  align-items: center;
}

.doorSvg {
  height: 1.6rem;
  width: 1.6rem;
}
